*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #2f4f30;
    font-family: 'Anton', sans-serif;
    color: #fff;
}

.titulo{
    background-color: #222;
    text-align: center;
    font-size: 30px;
    padding: 7px;
}

.carta{
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
    border-radius: 10px;
}

#jugador-cartas, #computadora-cartas{
    height: 250px;
}